---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

@import "variables";

@import "core";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "academicons.min";
@import "lightbox.min";
@import "prism";
@import "custom";
