---
category: navigation
description: All post entries ordered by date
layout: page
order: 4
permalink: archive.html
title: Archive
---
<div class="card-columns only-one-column">
  <div class="card bg-light">
    <div class="card-body">
      <h6 class="card-text text-muted">
{% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% if forloop.first %}
        <a href="#{{ this_year }}">{{ this_year }}</a>
  {% endif %}
  {% if forloop.last %}
  {% else %}
    {% if this_year != next_year %}
        • <a href="#{{ next_year }}">{{ next_year }}</a>
    {% endif %}
  {% endif %}
{% endfor %}
    </h6>
  </div>
</div>

<div class="card-columns two-columns">
{% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% if forloop.first %}
  <div class="card">
    <a name="{{ this_year }}"></a>
    <div class="card-header header-link">
      <span><a href="#{{ this_year }}"><i class="fa fa-folder-open link-icon" aria-hidden="true"></a></i></span>
      {{ this_year }}
    </div>
    <ul class="list-group list-group-flush">
  {% endif %}
      <li class="list-group-item">
        • <span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{ post.date | date: "%Y-%m-%d" }}: <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% if site.data.comments[post.slug] %}
          <div class="float-right">
            <i class="fa fa-comments" aria-hidden="true"> </i> <a href="{{ post.url }}#comments" data-proofer-ignore="true"><span class="badge badge-dark">{{ site.data.comments[post.slug] | size }}</span></a>
          </div>
        {% endif %}
      </li>
  {% if forloop.last %}
    </ul>
  </div>
  {% else %}
    {% if this_year != next_year %}
    </ul>
  </div>
  <div class="card">
    <div class="card-header header-link">
      <a name="{{ next_year }}"></a>
        <span><a href="#{{ next_year }}"><i class="fa fa-folder-open link-icon" aria-hidden="true"></i></a></span>
      {{ next_year }}
    </div>
    <ul class="list-group list-group-flush">
    {% endif %}
  {% endif %}
{% endfor %}
</div>
