---
category: navigation
description: All post entries ordered by tags
layout: page
order: 3
permalink: tags.html
title: Tags
---

<div class="card-columns only-one-column">
  {% assign tags = site.tags | sort %}
  {% assign sorted_posts = site.posts | sort: 'title' %}
  <div class="card">
    <h6 class="card-text text-muted alert alert-dark">
  {% for tag in tags %}
      <a href="#{{ tag | first | slugify }}">{{ tag | first | replace: '-', ' ' }} <span class="badge badge-secondary">{{ tag | last | size }}</span></a>{% if forloop.last == false %} • {% endif %}
  {% endfor %}
    </h6>
  </div>

  <div class="card-columns">
  {% for tag in tags %}
  <div class="card">
      <div class="card-header">
        <a name="{{ tag | first | slugify }}"></a>
        <span><i class="fa fa-tag" aria-hidden="true"></i></span>
        <span>{{ tag | first | replace:'-', ' ' }}</span>
        <span class="badge badge-secondary">{{ tag | last | size }}</span>
      </div>
      <ul class="list-group list-group-flush">
    {% for post in sorted_posts %}
      {% if post.tags contains tag[0] %}
      <li class="list-group-item">• {% if post.date %}<span><i class="fa fa-calendar-o" aria-hidden="true"></i></span> {{ post.date | date: "%Y-%m-%d" }}: {% endif %}<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>{% if site.data.comments[post.slug] %} <i class="fa fa-comments" aria-hidden="true"> </i> <a href="{{ post.url }}#comments" data-proofer-ignore="true"><span class="badge badge-secondary">{{ site.data.comments[post.slug] | size }}</span></a>{% endif %}
      </li>
      {% endif %}
    {% endfor %}
      </ul>
  </div>
    {% endfor %}
</div>
</div>
