---
category: navigation
description: All post entries ordered by tags
layout: page
order: 3
permalink: tags.html
title: Tags
---

<div class="card-columns only-one-column">
  {% assign tags = site.tags | sort %}
  {% assign sorted_posts = site.posts | sort: 'title' %}
  <div class="card bg-light">
    <div class="card-body">
      <h6 class="card-text text-muted">
    {% for tag in tags %}
        <a href="#{{ tag | first | slugify }}" style="font-size: {{ tag | last | size | times: 4 | plus: 80 }}%">{{ tag | first | replace: '-', ' ' }} <span class="badge badge-dark">{{ tag | last | size }}</span></a>
    {% if forloop.last == false %} • {% endif %}
    {% endfor %}
      </h6>
    </div>
  </div>

  <div class="card-columns two-columns">
  {% for tag in tags %}
  <div class="card">
      <div class="card-header header-link">
        <a name="{{ tag | first | slugify }}"></a>
        <i class="fa fa-tag" aria-hidden="true"></i>
        {{ tag | first | replace:'-', ' ' }}
        <span class="badge badge-dark">{{ tag | last | size }}</span>
        <a href="#{{ tag | first | slugify }}"><i class="fa link-icon" aria-hidden="true"></i></a>
      </div>
      <ul class="list-group list-group-flush">
    {% for post in sorted_posts %}
      {% if post.tags contains tag[0] %}
      <li class="list-group-item">• {% if post.date %}<span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{ post.date | date: "%Y-%m-%d" }}: {% endif %}<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {% if site.data.comments[post.slug] %}
        <div class="float-right">
          <i class="fa fa-comments" aria-hidden="true"> </i> <a href="{{ post.url }}#comments" data-proofer-ignore="true"><span class="badge badge-dark">{{ site.data.comments[post.slug] | size }}</span></a>
        </div>
      {% endif %}
      </li>
      {% endif %}
    {% endfor %}
      </ul>
  </div>
    {% endfor %}
</div>
</div>
