.vscode
*.code-workspace

# Astro build
dist/
.astro/

# Node
node_modules/
yarn.lock
pnpm-lock.yaml

# Dependencies
.pnpm-store/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Nextflow CV
.nextflow*
pipeline_info/
work/
*.pdf