[submodule "assets/presentations"]
	path = assets/presentations
	url = https://github.com/maxulysse/Presentations.git
[submodule "assets/mycv"]
	path = assets/mycv
	url = https://github.com/maxulysse/myCV.git
[submodule "assets/courses"]
	path = assets/courses
	url = https://github.com/maxulysse/Courses.git
[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git
