{% if site.data.comments[page.slug] %}
<div class="card">
  <div class="card-header"><a name="comments"></a>
    <a data-toggle="collapse" href="#comments-collapse" aria-expanded="false" aria-controls="comments-collapse">Comments <span class="badge badge-secondary">{{ site.data.comments[page.slug] | size }}</span></a>
  </div>
  {% assign comments = site.data.comments[page.slug] | sort %}
  <div class="collapse" id="comments-collapse">
    <ul class="list-group list-group-flush">
  {% for comment in comments %}
    <li class="list-group-item">
        <div>
          by <span><i class="fa fa-user-o" aria-hidden="true"></i></span> <em>
          {% if comment[1].url != blank%}
          <a href="{{ comment[1].url }}" target="_blank">{{ comment[1].name }}</a>
          {% else %}{{ comment[1].name }}
          {% endif %}
          </em>
          on <span><i class="fa fa-calendar-o" aria-hidden="true"></i></span> {{ comment[1].date | date: "%Y-%m-%d" }}
        </div>
        <div>
        {{ comment[1].message | markdownify }}
        </div>
      </li>
  {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#reply" aria-expanded="false" data-target=".multi-collapse" aria-controls="reply reply-footer">Leave a Reply</a>
    <p class="card-subtitle mb-2 text-muted">Your email address will not be published</p>
  </div>
  <div class="card-body collapse multi-collapse" id="reply">
    <form method="POST" action="https://api.staticman.net/v2/entry/MaxUlysse/maxulysse.github.io/master/comments">
      <input name="options[redirect]" type="hidden" value="{{ page.url | prepend: site.url }}">
      <input name="options[redirectError]" type="hidden" value="{{ page.url | prepend: site.url }}">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <div class="form-group row">
        <label for="comment" class="col-sm-2 col-form-label">Comment:</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="fields[message]" rows="3"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label">Name: <span class="required">*</span></label>
        <div class="col-sm-10">
          <input name="fields[name]" type="text" class="form-control" id="author" placeholder="Enter name">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email address: <span class="required">*</span></label>
        <div class="col-sm-10">
          <input id="email" name="fields[email]" type="email" class="form-control" aria-describedby="email-notes" placeholder="Enter email">
        </div>
      </div>
      <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">Website:</label>
        <div class="col-sm-10">
          <input name="fields[url]" type="text" class="form-control" id="url" placeholder="Enter url">
        </div>
      </div>
      <button class="btn btn-outline-primary" type="submit">Comment <span class="fa fa-comment" aria-hidden="true"></span></button>
    </form>
  </div>
  <div class="card-footer collapse multi-collapse" id="reply-footer">
    <small class="text-muted"><i class="fa fa-comments fa-1x" aria-hidden="true"></i> powered by <a href="https://staticman.net/" target="_blank">staticman</a></small>
  </div>
</div>
