<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ "/" | prepend:site.baseurl }}"><img class="brand-image logo" src="{{ "/img/logo/logo.png" | prepend: site.baseurl }}"/> <strong>{{ site.title }}</strong></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/cv/" | prepend: site.baseurl }}">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/categories/" | prepend: site.baseurl }}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/archive/" | prepend: site.baseurl }}">Archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ "/search" | prepend:site.baseurl }}" method="get" role="search">
      <input class="form-control mr-sm-2" type="text" id="search-box" name="query" placeholder="Search">
      <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
</nav>
