<script type="application/ld+json">
{ "@context": "http://schema.org", 
 "@type": "Blog",
 "keywords": "{{ site.description }}", 
 "url": "{{ site.baseurl | prepend: site.url }}",
 "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ "/search/" | prepend:site.baseurl | prepend:site.url }}?query={search_term_string}",
    "query-input": "required name=search_term_string"
  },
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.baseurl | prepend: site.url }}"
  },
 "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "sameAs": [
        "https://twitter.com/{{ site.author.twitter }}",
        "https://github.com/{{ site.author.github }}"
    ]
  },
  "image":{  
      "@type":"ImageObject",
      "url":"{{ site.logo.path | prepend: site.baseurl | prepend: site.url }}",
      "width":"{{ site.logo.width }}",
      "height":"{{ site.logo.height }}"
   }
 }
</script>
