.img-post {
  @extend .rounded;
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
}

.logo {
  height: 2.5em;
  width: 2.5em;
}

.navbar {
  margin-bottom: 1.25rem;
}

.nav-footer {
  display: flex;
  flex-flow: row wrap;
}

.footericon {
  color: gray;
  transition: transform 0.2s ease;
}
.footericon:hover {
  transform: scale(1.5);
}

.ai-google-scholar:hover {color: #4885ed;}
.ai-mendeley:hover {color: #b0112d;}
.ai-orcid:hover {color: #A6CE39;}
.ai-researchgate:hover {color: #00d0b0;}
.fa-facebook:hover {color: #3b5998;}
.fa-github:hover {color: black;}
.fa-google-plus:hover {color: #db3236;}
.fa-instagram:hover {color: black;}
.fa-linkedin:hover {color: #007bb6;}
.fa-reddit-alien:hover {color: #ff4500;}
.fa-rss:hover {color: #ff6600;}
.fa-slideshare:hover {color: #007bb6;}
.fa-twitter:hover {color: #4099ff;}
.fa-viadeo:hover {color: #f07355;}
