.navbar {
  margin-bottom: 1.25rem;
}

.img-post {
  @extend .rounded;
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
}

.table-bordered-striped {
  @extend .table-bordered;
  @extend .table-striped;
}

.logo {
  height: 2.5em;
  width: 2.5em;
}

.fa .ai {
  color: #fff;
}
