---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import Pagination from "../../../components/Pagination.astro";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const postsPerPage = 6;
const currentPage = parseInt((Astro.params.page as string) || "1");
const startIndex = (currentPage - 1) * postsPerPage;
const endIndex = startIndex + postsPerPage;
const paginatedPosts = sortedPosts.slice(startIndex, endIndex);
const totalPages = Math.ceil(sortedPosts.length / postsPerPage);

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const sortedPosts = posts
        .filter((post) => !post.data.draft)
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

    const postsPerPage = 6;
    const totalPages = Math.ceil(sortedPosts.length / postsPerPage);

    return Array.from({ length: totalPages }, (_, i) => ({
        params: { page: String(i + 1) },
    }));
}

// Redirect page 1 to home
if (currentPage === 1) {
    return Astro.redirect("/");
}
---

<BaseLayout title={`Blog - Page ${currentPage}`} description="Blog posts">
    <div class="row">
        {paginatedPosts.map((post) => <PostCard post={post} />)}
    </div>

    <Pagination currentPage={currentPage} totalPages={totalPages} />
</BaseLayout>
