---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CV" description="Maxime Garcia, PhD in Bioinformatics">
    <div class="card-columns only-one-column cv-page">
        <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-text text-muted">
                    <a href="#experience">Experience</a> •
                    <a href="#education">Education</a> •
                    <a href="#skills">Computer skills</a> •
                    <a href="#languages">Languages</a> •
                    <a href="#societies">Scientific societies</a> •
                    <a href="#associations">Associations</a> •
                    <a href="#events">Organization and events</a> •
                    <a href="#interests">Interests</a>
                </h6>
            </div>
        </div>

        <div class="card alert alert-primary">
            <h6 class="card-text text-muted">
                <i class="fa fa-download"></i>
                <a href="/assets/mycv/CV-MGarcia-latest.pdf" target="_blank"
                    >Download a pdf version</a
                >
            </h6>
        </div>

        <div class="card">
            <a id="experience"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-building"></i> Experience <a href="#experience"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <table class="cv-table">
                    <tbody>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> From 2022
                            </td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Bioinformatician in Scientific
                                        Development at <a
                                            href="http://seqera.io"
                                            target="_blank">Seqera Labs</a
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        • Pipeline development within <i
                                            class="fab fa-github"></i>
                                        <a href="https://github.com/nf-core"
                                            >nf-core</a
                                        >, a community effort to collect a
                                        curated set of analysis pipelines built
                                        using Nextflow.
                                    </li>
                                    <li class="list-group-item">
                                        • In the Core team that administer the <i
                                            class="fa fa-globe-europe"></i>
                                        <a href="https://nf-co.re/">nf-core</a> project
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2016-2022
                            </td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Bioinformatician for <a
                                            href="http://ki.se/forskning/barntumorbanken"
                                            target="_blank"
                                            >The Swedish Childhood Tumor Biobank
                                            (Barntumörbanken)</a
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        • Development of <i
                                            class="fab fa-github"></i>
                                        <a
                                            href="https://github.com/nf-core/sarek"
                                            >Sarek</a
                                        >, a Whole Genome/Targeted Sequencing
                                        Germline/Somatic analysis workflow in
                                        collaboration between two <a
                                            href="https://www.scilifelab.se/"
                                            >SciLifeLab</a
                                        > infrastructures: <a
                                            href="https://www.scilifelab.se/facilities/ngi-stockholm/"
                                            target="_blank">NGI</a
                                        > and <a
                                            href="https://www.nbis.se/"
                                            target="_blank">NBIS</a
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        • Development of a <i
                                            class="fab fa-github"></i>
                                        <a
                                            href="https://github.com/nf-core/rnafusion"
                                            >rnafusion</a
                                        > analysis workflow in collaboration with
                                        <a href="https://www.scilifelab.se/"
                                            >SciLifeLab</a
                                        > infrastructure <a
                                            href="https://www.scilifelab.se/facilities/ngi-stockholm/"
                                            target="_blank">NGI</a
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        • In the Core team that administer the <i
                                            class="fa fa-globe-europe"></i>
                                        <a href="https://nf-co.re/">nf-core</a> project
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2013-2014
                            </td>
                            <td>
                                Research Associate at <a
                                    href="http://www.nus.edu.sg/"
                                    target="_blank"
                                    >National University of Singapore</a
                                >, <a
                                    href="https://www.csi.nus.edu.sg/"
                                    target="_blank"
                                    >Cancer Science Institute of Singapore</a
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2009-2013
                            </td>
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        PhD Candidate at <a
                                            href="http://crcm.marseille.inserm.fr/"
                                            target="_blank"
                                            >Cancer Research Center of Marseille</a
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        • Development of <i
                                            class="fa fa-globe-europe"></i>
                                        <a
                                            href="https://sourceforge.net/projects/iti/"
                                            >ITI</a
                                        >, a method to analyze gene expression
                                        data by superimposition of a large scale
                                        protein-protein interaction data (human
                                        interactome) over several gene
                                        expression datasets
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <a id="education"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-university"></i> Education <a href="#education"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <table class="cv-table">
                    <tbody>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2009
                            </td>
                            <td>
                                PhD in Bioinformatics and Genomics at <a
                                    href="https://www.univ-amu.fr/"
                                    target="_blank">Aix-Marseille Université</a
                                >
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2007-2009
                            </td>
                            <td>
                                Master's Degree in Bioinformatics and Genomics
                                (former master BBSG), <a
                                    href="https://bio-sciences.univ-amu.fr/"
                                    target="_blank"
                                    >Faculté des Sciences de Luminy</a
                                >, Marseille
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2007
                            </td>
                            <td>
                                Erasmus Semester in <a
                                    href="https://www.uea.ac.uk/biological-sciences"
                                    target="_blank"
                                    >School of Biological Sciences</a
                                >, <a
                                    href="https://www.uea.ac.uk/"
                                    target="_blank">University of East Anglia</a
                                >, Norwich
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2003-2007
                            </td>
                            <td>
                                Bachelor's Degree in Biology and Biochemistry, <a
                                    href="http://biologie.univ-mrs.fr/"
                                    target="_blank"
                                    >Faculté des Sciences de Luminy</a
                                >, Marseille
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <a id="skills"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-laptop"></i> Computer Skills <a href="#skills"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <div class="row cv-skills">
                    <div class="cv-item">
                        <span class="cv-item-label">Scripting</span>
                        <span class="cv-item-value">Groovy, Bash, Perl</span>
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">Pipeline</span>
                        <span class="cv-item-value">Nextflow, Make</span>
                    </div>
                </div>
                <hr />
                <div class="row cv-skills">
                    <div class="cv-item">
                        <span class="cv-item-label">Web</span>
                        <span class="cv-item-value"
                            >Jekyll, Astro, Wordpress</span
                        >
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">Communication</span>
                        <span class="cv-item-value"
                            >Slack, LaTeX, Beamer, Inkscape</span
                        >
                    </div>
                </div>
                <hr />
                <div class="row cv-skills">
                    <div class="cv-item">
                        <span class="cv-item-label">Project Management</span>
                        <span class="cv-item-value">Github, Trello</span>
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">Containers</span>
                        <span class="cv-item-value">Docker, Singularity</span>
                    </div>
                </div>
                <hr />
                <div class="row cv-skills">
                    <div class="cv-item">
                        <span class="cv-item-label">Web languages</span>
                        <span class="cv-item-value">HTML5, CSS3, SASS, JS</span>
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">Other</span>
                        <span class="cv-item-value"
                            >Linux, clusters, Git, R</span
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <a id="languages"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-comment"></i> Languages <a href="#languages"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <div class="row cv-languages">
                    <div class="cv-item">
                        <span class="cv-item-label">French</span>
                        <span class="cv-item-value">Mother tongue</span>
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">English</span>
                        <span class="cv-item-value">Fluent</span>
                    </div>
                    <div class="cv-item">
                        <span class="cv-item-label">Swedish</span>
                        <span class="cv-item-value">Notions</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <a id="societies"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-flask"></i> Scientific Societies <a
                    href="#societies"><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <div class="cv-full-item">
                    • Member of the International Society of Computational
                    Biology (<a href="https://www.iscb.org/" target="_blank"
                        >ISCB</a
                    >)
                </div>
                <hr class="cv-divider" />
                <div class="cv-full-item">
                    • Member of the French Society of Bioinformatics (Société
                    Française de BioInformatique: <a
                        href="https://www.sfbi.fr/"
                        target="_blank">SFBI</a
                    >)
                </div>
                <hr class="cv-divider" />
                <div class="cv-full-item">
                    • Member of BioInfoDiag (Le Réseau Français de
                    Bioinformatique pour le Diagnostic: <a
                        href="https://bioinfo-diag.fr/"
                        target="_blank">BioInfoDiag</a
                    >)
                </div>
                <hr class="cv-divider" />
                <div class="cv-full-item">
                    • Member of the French Community of PhDs (La Communauté
                    Française des Docteurs: <a
                        href="https://andes.asso.fr/communaute-francaise-des-docteurs/"
                        target="_blank">CFD</a
                    >)
                </div>
            </div>
        </div>

        <div class="card">
            <a id="associations"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-users"></i> Associations <a href="#associations"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <table class="cv-table">
                    <tbody>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> From 2012
                            </td>
                            <td>
                                Contributor to <a
                                    href="https://bioinfo-fr.net/"
                                    target="_blank">Bioinfo-fr.net</a
                                > (French-speaking blog on Bioinformatics)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2012-2014
                            </td>
                            <td>
                                Vice-president of <a
                                    href="https://jebif.fr/"
                                    target="_blank">JeBiF</a
                                > - <a href="http://rsg.iscbsc.org/"
                                    >RSG-France</a
                                > (Association of French Young Bioinformaticians)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2010-2011
                            </td>
                            <td>
                                President of <a
                                    href="https://www.hippothese.asso.fr/"
                                    target="_blank">Hippo'Thèse</a
                                > (Association of young researchers in Biology at
                                Aix-Marseille University)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2010-2011
                            </td>
                            <td>
                                Vice-president and webmaster of <a
                                    href="http://www.reseau-biotechno.com/"
                                    target="_blank">BIOTechno Network</a
                                > (French Network of Associations organizing forums
                                about careers in Biotechnology)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2009-2010
                            </td>
                            <td>
                                Webmaster of <a
                                    href="http://www.hippothese.asso.fr/"
                                    target="_blank">Hippo'Thèse</a
                                > (Association of young researchers in Biology at
                                Aix-Marseille University)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <a id="events"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-list"></i> Organization and Events <a
                    href="#events"><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <table class="cv-table">
                    <tbody>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2015
                            </td>
                            <td>
                                Journées nationales de la Communauté Française
                                des Docteurs (Webmaster, Member of organization
                                committee and logistic support)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2012
                            </td>
                            <td>
                                Doctoriales en Provence (Member of organization
                                committee and logistic support)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2011
                            </td>
                            <td>
                                Marché de la Chimie @ Fête de la Science
                                (Conception and animation of a stand for
                                Cancéropôle-PACA)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2011
                            </td>
                            <td>
                                7th BIOTechno forum in Marseille (Head of
                                organization committee)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2009-2012
                            </td>
                            <td>
                                Annual meeting of doctoral school in Biology and
                                Health Sciences from Aix-Marseille University
                                (Member of organization committee, abstract
                                selection, jury member, logistic support)
                            </td>
                        </tr>
                        <tr>
                            <td class="cv-date">
                                <i class="fa fa-calendar"></i> 2007-2011
                            </td>
                            <td>
                                Logistic support in organization of Plan de
                                Cuques French Comics Festival
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <a id="interests"></a>
            <div class="card-header h2 header-link">
                <i class="fa fa-info-circle"></i> Interests <a href="#interests"
                    ><i class="fa link-icon"></i></a
                >
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        • Yoga, Cinema, Poker, Gardening, Ice-Skating
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .header-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .link-icon {
        font-size: 0.8em;
        opacity: 0.6;
    }

    .header-link a {
        text-decoration: none;
        color: inherit;
    }

    .header-link a:hover .link-icon {
        opacity: 1;
    }

    .list-group-item {
        border: none;
        padding: 0.5rem 0;
    }

    .cv-table {
        width: 100%;
        border-collapse: collapse;
    }

    .cv-table td {
        padding: 0.5rem 0;
        vertical-align: top;
    }

    .cv-table tr + tr td {
        border-top: 1px solid #e5e5e5;
    }

    .cv-date {
        width: 20%;
        white-space: nowrap;
    }

    @media (max-width: 768px) {
        .cv-table td {
            display: block;
            width: 100%;
        }

        .cv-table tr + tr td {
            border-top: none;
        }

        .cv-date {
            margin-bottom: 0.5rem;
        }
    }

    body[data-theme="dark"] .cv-table tr + tr td {
        border-top-color: #444;
    }

    .cv-divider {
        margin: 1rem 0;
    }

    .cv-page .row {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 0 !important;
    }

    .cv-page .col-md-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .cv-page .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .cv-page .col {
        flex: 1 0 0;
        max-width: 100%;
    }

    .cv-page .cv-skills {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-auto-flow: row !important;
        gap: 0.5rem 1rem !important;
    }

    .cv-page .cv-languages {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr) !important;
        grid-auto-flow: row !important;
        gap: 0.5rem 1rem !important;
    }

    .cv-item {
        display: grid;
        grid-template-columns: 13rem 1fr;
        column-gap: 0.5rem;
        align-items: baseline;
    }

    .cv-item-label {
        white-space: nowrap;
    }

    .cv-item-label::before {
        content: "• ";
    }

    .card-body .row + hr {
        margin: 1rem 0;
    }
</style>
