---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import Pagination from "../components/Pagination.astro";

const allPosts = await getCollection("blog");
const sortedPosts = allPosts
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const postsPerPage = 6;
const paginatedPosts = sortedPosts.slice(0, postsPerPage);
const totalPages = Math.ceil(sortedPosts.length / postsPerPage);
---

<BaseLayout>
    <div class="row">
        {paginatedPosts.map((post) => <PostCard post={post} />)}
    </div>

    <Pagination currentPage={1} totalPages={totalPages} />
</BaseLayout>
