---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% if page.last_modified_at %}
{% assign modified = page.last_modified_at %}
{% else %}
{% assign modified = page.date %}
{% endif %}

{%
  include structuredData_blogpost.html
  headline=page.title
  categories=page.categories
  author=author
  description=page.description
  datePublished=page.date
  dateModified=modified
  image=page.image
  content=page.content
  link=page.url
%}

<div class="card-columns only-one-column">
  <div class="card rounded">
      <div class="card-header">
        <h2 class="card-title">{{ page.title }}</h2>
        <h6 class="card-subtitle mb-2 text-muted">
          <span><i class="fa fa-user" aria-hidden="true"></i></span> <em>{% if page.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %}</em> <span><i class="fa fa-calendar" aria-hidden="true"></i></span> {{ page.date | date: "%Y-%m-%d" }}{% if page.date_modified %}<div class="float-right"><span>Last modified <i class="fa fa-calendar" aria-hidden="true"></i></span> {{ page.date_modified | date: "%Y-%m-%d" }}</div>{% endif %}
          <br>
          <i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}
        </h6>
      </div>
      <div class="card-body">
  {{  content }}
      <nav class="nav justify-content-center" aria-label="Page navigation">
        <ul class="pagination">
  {% if page.previous.url %}
          <li class="page-item">
            <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous" rel="prev">
              <span aria-hidden="true">&laquo; {{ page.previous.title }}</span>
              <span class="sr-only">&laquo; {{ page.previous.title }}</span>
            </a>
          </li>
  {% endif %}
  {% if page.next.url %}
          <li class="page-item">
            <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next" rel="next">
              <span aria-hidden="true"> {{ page.next.title }} &raquo;</span>
              <span class="sr-only"> {{ page.next.title }} &raquo;</span>
            </a>
          </li>
  {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  {% include comments.html %}
</div>
