---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% if page.last_modified_at %}
{% assign modified = page.last_modified_at %}
{% else %}
{% assign modified = page.date %}
{% endif %}

{% include structuredData_blogpost.html headline=page.title categories=page.categories author=author description=page.description datePublished=page.date dateModified=modified image=page.image content=page.content link=page.url %}

<div class="card">
  <h1 class="card-header">{{ page.title }}</h1>
  <div class="card-block">
    <h6 class="card-subtitle text-muted">Posted by {% if page.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%Y-%m-%d" }}</h6>
  </div>
  <div class="card-block">
    {{  content }}
  </div>
  <div class="card-block">
    <nav class="nav justify-content-center" aria-label="Page navigation">
      <ul class="pagination">
        {% if page.previous.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous" rel="prev">
            <span aria-hidden="true">&laquo; Previous Post</span>
            <span class="sr-only">&laquo; Previous Post</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next" rel="next">
            <span aria-hidden="true">Next Post &raquo;</span>
            <span class="sr-only">Next Post &raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    </div>
    {% include comments.html %}
  </div>
</div>
