<!DOCTYPE html>
<html lang="en">
    {% include head-slides.html %}
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown
                        data-separator="^---\n"
                        data-separator-vertical="^===\n"
                        data-separator-notes="^Note:"
                    >
                    <textarea data-template>
                        {% include_relative slides.md %}
                    </textarea>
                </section>
            </div>
        </div>
		<script type="text/javascript" src="/assets/reveal.js/dist/reveal.js"></script>
		<script type="text/javascript" src="/assets/reveal.js/plugin/notes/notes.js"></script>
		<script type="text/javascript" src="/assets/reveal.js/plugin/markdown/markdown.js"></script>
        <script type="text/javascript" src="/assets/reveal.js/plugin/highlight/highlight.js"></script>
        <script>
			Reveal.initialize({
				hash: true,
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
        </script>
    </body>
</html>
